
.profile-main{
    flex-basis: 73%;
}
.profile-sidebar {
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}
.profile-container{
    background: #fff;
    border-radius: 5px;
}
.profile-container-inner{
    padding: 0 4% 10px;
}
.profile-pic{
    width: 150px;
    border-radius: 50%;
    margin-top: -75px;
    padding: 5px;
    background: #ccc;
}
.profile-container h1{
    font-size: 18px;
    font-weight: 600;
    color: #222;
}
.profile-container b{
    font-weight: 500;
}
.profile-container p{
    margin-top: 5px;
}
.profile-container p a{
    color: #045be6;
    font-weight: 500;
}
.mutual-connection{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.mutual-connection img{
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.mutual-connection span{
    font-weight: 500;
}
.profile-btn{
    margin: 20px 0;
} 
.profile-btn a{
    display: inline-flex;
    align-items: center;
    background: #e4e6eb;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 10px;
}
.profile-btn a img{
    width: 18px;
    margin-right: 5px;
}
.profile-btn .primary-btn{
    background: #045be6;
    color: #fff;
}
.profile-description{
    background: #fff;
    padding: 20px 4% 30px;
    margin: 12px 0;
    border-radius: 5px;
}
.profile-description h2{
    color: #333;
    margin: 10px 0 20px;
    font-weight: 600;
}
.see-more-link{
    display: block;
    text-align: right;
    font-size: 15px;
}
.profile-desc-row{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}
.profile-desc-row img{
    width: 50px;
    margin-right: 25px;
    margin-top: 5px;
}
.profile-desc-row div{
    width: 100%;
}
.profile-desc-row h3{
    font-size: 18px;
    font-weight: 600;
    color:#333;
}
.profile-desc-row b{
    font-size: 15px;
    font-weight: 500;
    display: block;
}
.profile-desc-row p{
    margin-top: 15px;
}
.profile-desc-row hr{
    border: 0;
    border-bottom: 1px solid #999;
    margin-top: 10px;
}
.exprience-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-weight: 500;
}
.exprience-link img{
    width: 20px;
    margin-left: 8px;
}
.skills-btn{
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    border: 1px solid #777;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 500;
}
.language-btn{
    display: inline-block;
    margin: 10px 5px;
    padding: 6px 18px;
    background: #e4e6eb;
    font-size: 12px;
    font-weight: 500;
}

/* ----------Profile-right-sidebar---------- */
.profile-sidebar .sidebar-ad{
    margin: 0;
}
.sidebar-people{
    background: #fff;
    border-radius: 5px;
    padding: 15px 25px;
    margin: 12px 0;
    font-size: 12px;
}
.sidebar-people h3{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 20px;
}
.sidebar-people-row {
    display: flex;
    align-items: flex-start;
    margin: 6px 0;
}
.sidebar-people-row img{
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 5px;
}
.sidebar-people-row h2{
    font-size: 16px;
    font-weight: 600;
}
.sidebar-people-row a{
    display: inline-block;
    margin: 10px 0;
    padding: 5px 25px;
    border: 1px solid #5f5f5f;
    border-radius: 30px;
    font-weight: 500;
}
.profile-footer{
    padding: 0 6% 30px;
}

/* ---------Copyright and license Left Alignments------- */
/* .profile-footer .sidebar-useful-links{
    text-align: left;
    padding: 0;
}
.profile-footer .copyright-msg{
    justify-content: flex-start;
} */

/* -----------Media Queries For Small Screen----------- */
@media only screen and (max-width: 600px){
    .search-box{
        background: transparent;
        width: auto;
        padding: 0;
    }
    .search-box input{
        width: 0;
        padding: 0;
    }
    .navbar-center ul li a span{
        display: none;
    }
    .navbar-center ul li a{
        display: flex;
        align-items: center;
        padding-right: 0;
        margin: 5px;
    }
}